<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link href="../static/style.css" th:href="@{style.css}" rel="stylesheet" />
    <title>Tour operator 2</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <style>
        #second_header{
            background-image: url("holiday-finally.jpg");
            background-size: 100%;
            background-position: center;
            text-align: center;
        }

    </style>

</head>
<body>
<header id= "second_header" class="jumbotron text-left" style="margin-bottom:0" >
    <div>
        <h2 >Tour operator 2 </h2>
    </div>


</header>

<h1 style="text-align: center">Panel administratora</h1>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm" align="center"  >
            <a  type="menu" th:href="@{'/reservations'}" >Rezerwacje</a>

        </div>
        <div class="col-sm" align="center"  >
            <a type="menu" th:href="@{'/admin'}" >Baza wycieczek - strona główna</a>
        </div>
        <div class="col-sm" align="center"  >
            <a  type="menu" th:href="@{'/admin/newOffer'}" >Dodaj nowa ofertę</a>
        </div>
    </div>
</div>


<br>

<br>
<div>
    <h2 class="text-center" style="margin-bottom:0">Wyszukiwarka </h2>
</div>
<br>

<br>

<form action="/admin/params"  align="center" >
    <div class="form-group container" >

        <input type="text" class="form-control" country="country" placeholder="Podaj kraj" name="country">

        <input type="text" class="form-control" country="country" placeholder="Podaj miejsce przylotu" name="destinationCity">

        <input type="date" class="form-control" country="country" placeholder="Data wyjazdu" name="dateFrom">

        <input type="date" class="form-control" country="country" placeholder="Data powrotu" name="dateTo">


        <input  type="submit" value="Szukaj" class="btn btn-primary" align="center">
    </div>
</form>

<br>

<br>
<div>
    <table class="table table-striped table-hover"  >
        <thead>
        <tr>
            <th style="color: darkred" type="tour" scope="col" >Numer</th>
            <th style="color: darkred"scope="col">Tytul</th>
            <th style="color: darkred"scope="col">Kraj</th>
            <th style="color: darkred"scope="col">Miejsce przylotu</th>
            <th style="color: darkred"scope="col">Data wyjazdu</th>
            <th style="color: darkred"scope="col">Powrót przed</th>
            <th style="color: darkred" scope="col">Cena</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody >
        <tr th:each="tour: ${tours}">
            <th th:text="${tour.getId()}"></th>
            <td th:text="${tour.getTitle()}"></td>
            <td th:text="${tour.getCountry()}"></td>
            <td th:text="${tour.getDestinationCity()}"></td>
            <td th:text="${tour.dateFrom}"></td>
            <td th:text="${tour.dateTo}"></td>
            <td th:text="${tour.getPrice()}"></td>
            <td>
                <a type="submit"  th:href="@{'/admin/edit/' + ${tour.id}}" >Edytuj</a>
            </td>
            <td>
                <a type="submit"  th:href="@{'/admin/delete/' + ${tour.id}}" >Usuń</a>
            </td>
            <td>
                <a type="submit" th:href="@{'/admin/details/' + ${tour.id}}" style="background: indianred">Szczegóły</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
